record(bo, "$(DEVICE)_$(NAME)_SET") {
    field(DESC, "$(DESC)")
    field(SCAN, "Passive")
    field(VAL, "0")
    field(DTYP, "stream")
    field(OUT, "@tpg_protocols.proto $(PROTONAME) $(PORT)")
    field(ZNAM, "$(ZNAM)")
    field(ONAM, "$(ONAM)")
}